.chat {
  display: flex;
  justify-content: space-between;
  background: #c0d1b8;
}

.dialogs {
  flex-grow: 1;
  background: #1e1f27;
  max-width: 600px;
}

.messages {
  flex-grow: 2;
  min-width: 500px;
}
