.chat {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #c0d1b8;
  /* #f5f8fc */
}

.dialogs {
  flex-grow: 1;
  background: #1e1f27;
}

.messages {
  flex-grow: 2;
  min-width: 500px;
}
