.message {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-end;
}

.message__avatar {
  flex: 0 0 82px;
}

.message__avatar > img {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #adadad;
}

.message__bubble {
  background: #3e4c6e;
  box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 12px 0px;
  padding: 10px 15px 10px 15px;
  max-width: 400px;
  position: relative;
  overflow: hidden;
}

.owner .message__bubble {
  background: #5075a9;
  box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 0px 12px;
  padding: 10px 15px 10px 15px;
  max-width: 400px;
}

.message__text {
  color: #fff;
  line-height: 20px;
}

.message__date {
  font-size: 12px;
  opacity: 0.5;
}

.message__content {
  
}

.owner {
  display: flex;
  flex-direction: row-reverse;
}

.message__attachments {
  display: flex;
  max-width: 400px;
}

.message__attachments-item-img {
  max-height: 200px;
  border-radius: 3px;
  padding: 2px;
  margin: 2px 2px 2px 0px;
  border: 1px solid #adadad;
  cursor: pointer;
}

.is-typing {
  box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
  margin-bottom: 0;
  background: #e5edff;
}

.message__typing {
}

.message__typing-bubble {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #a6bdf0;
  display: inline-block;
  margin-right: 8px;
  animation: 0.8s typingAnimation infinite ease-out 0.1s;
}

.message__typing-bubble:nth-of-type(2) {
  animation: 0.8s typingAnimation infinite ease-out 0.2s;
}

.message__typing-bubble:nth-of-type(3) {
  animation: 0.8s typingAnimation infinite ease-out 0.3s;
  margin-right: 0;
}

@keyframes typingAnimation {
  from {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.message__attachments-item-single-img {
  max-height: 400px;
}

.message__audio {

}

.message__audio > audio {
  display: none;
}

.message__audio-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.audio {

}

.message__audio-btn {
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  background: #17215a;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.message__audio-btn > img {
  width: 11px;
}

.audio-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.message__audio-wave {
  margin-right: 10px;
}

.message__audio-duration {
  color: #fff;
  opacity: 0.6;
}

.message__audio-progress {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5075a9;
  height: 100%;
  transition: width 0.5s ease;
}

.owner .message__audio-progress {
  background-color: #3e4c6e;
}
